@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: poppins;
  src: url(/Poppins-Regular.ttf);
}

span , p , div {
  font-family: poppins;
}

.flex-center {
  @apply flex justify-center items-center
}

.video {
  @apply lp:w-[35rem] w-[20rem] h-80 tb:h-52 mb:h-48 object-cover rounded-lg border border-orange-500 shadow-lg shadow-orange-700
}
/* 
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
} */

